---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		subtitle?: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, subtitle, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="max-w-3xl">
		<Header />
		<main class="mb-10 mt-10">
			<div class="w-full">
				<article>
					<h1>
						{title}
					</h1>
					{subtitle &&
						<h3>
							{subtitle}
						</h3>
					}
					<slot />
					{pubDate &&
						<div class="mt-12 text-gray-500">
							<time datetime={pubDate}>
								{new Date(pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</time>
							&ndash;
							<a href="https://twitter.com/jrdi">@jrdi</a>
						</div>
					}
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
